body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #F6FBF4;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4B8673;
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4B8673;
    padding: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.dropdwn{
    position: relative;
    display: inline-block;
}

.dropbtn{
    color: #F5DF99;
    text-decoration: none;
    background-color: #4B8673;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4B8673;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropbtn:hover{
    color: #F6FBF4;
}

.navbar a{
    color: #F5DF99;
    text-decoration: none;
    background-color: #4B8673;
    padding: 10px;
}

.dropdown-content a{
    padding: 12px 16px;
    display: block;
}

.navbar a:hover{
    color: #F6FBF4;
}

.dropdown:hover .dropdown-content{
   display: block;
}

.content{
    width: 80%;
    height: 1400px;
    margin:auto;
    margin-top: 200px;
    padding: 30px;
    border-radius: 25px;
    background-color: #5FD068;
    color: #F6FBF4;
    
    
}

.content ol{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: space-around;
    background-color: #4B8673;
    border-radius: 10px;
    
}
.content ol div{
    text-align:start;
    width: 70%;
}
.content h2{
    text-align: center;
}