h1{
    text-align: center;
    background-color: darkred;
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color:#D1D5DE ;
}

.Main{
    background:linear-gradient(90deg, darkred,  rgb(1, 57, 1) );
    padding: 15px;
    border-radius: 25px;
    overflow: hidden;

}

.Main2{
    width: 45%;
    float: left;
}

.Introduction{
    width: 50%;
    float: left;
    color:#D3FAC7 ;
    font-size: 65px;
    border-style:groove;
    border-width: 30px;
    border-color:white ;
    border-radius: 60px;
}