h1{
    text-align: center;
}

body{
    background-color: #D1D5DE; 
}

body p{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(darkgreen,darkred,darkgreen,darkred);
}

.GettingIn{
    background:linear-gradient(90deg, darkred,  rgb(1, 57, 1) );
    padding: 15px;
    border-radius: 25px;
    overflow: hidden;
    
}

.GettingIn p{
    width: 50%;
    float: right;
    color:#D3FAC7 ;
    font-size: 45px;
    border-style:groove;
    border-width: 30px;
    border-color:white ;
    border-radius: 60px;
}

.Image{
    float: left;
}





