body{
    background-color: darkblue;
}

p{
    color: wheat;
    background-color: blue;
    font-size: large;
    font-family: fantasy;
    border-radius: 40px;
    border-style: ridge;
    border-color: green;
    border-width: 15px;
}

h1{
    color: wheat;
    background-color: darkolivegreen;
    border-radius: 40px;
    border-style: ridge;
    border-color: darkslateblue;
    border-width: 15px;
}

a{
    background-color: darkolivegreen;
    border-radius: 40px;
    border-style: ridge;
    border-color: darkslateblue;
    border-width: 15px;
    width: 50px;
}

img {
    width: 50%;
}