body{
    background-color: brown;
}

h1{
    text-align: center;
    color: rgb(172, 231, 100);
    background-color: #ff3223;
    border-style: dashed;
    border-color: rgb(172, 231, 100);
}

p{
    color: rgb(172, 231, 100);
    background-color: #ff3223;
    border-style: dashed;
    border-color: rgb(172, 231, 100);
}