body{
    background-color: rgb(29, 116, 260);
}
.Homepage{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
.Food{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
.Habitat{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
.Predators{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
.Facts{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
.finale{
    background-color: rgb(48, 236, 133);
    border-style: double;
}
marquee{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}