body{
    background-color:coral; 
}
h1{
    text-align: center;
    background-color:cornflowerblue; 
    border-style: solid;
    border-radius: 95px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 p{
    text-align: center;
 }