body{
    background-color:rgb(0, 81, 255);
}
.dropdowntbn{
    background-color: rgb(76, 250, 79);
    color:white;
    padding:24px;
    border:none;
    cursor:pointer;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: rgb(62, 200, 62);
    min-width: 200px;
    box-shadow: 20px 4px 8px opx rgb(0,0,0.05);
    z-index: 1;
}
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
background-color:aquamarine;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbtn{
    background-color:rgb(58, 242, 107);
}
.Earth{
    border-style:solid;
    border-color:rgb(120, 242, 255);
    background-color:rgb(14, 160, 14);
    text-align: center;
}
.PS{
    border-style: groove;
    background-color: rgb(87, 192, 60);
    Width:300px;
}
.intro{
    border-style:groove;
    border-color:rgb(60, 173, 239);
    border-width: 10px;
    height:150px;
    width:750px;
    background-color:rgb(14,170,14);
    border-radius:5%;
    float:right;
    font-size:larger;
}
.Earth2{
    border-style: double;
    border-color:aquamarine;
    background-color: rgb(34, 156, 34);
    overflow: hidden;
}
.car{
    border-radius:20%;
    float:right;
}
.Protect{
    border-style:ridge;
    border-color: aqua;
    background-color: rgb(146, 254, 92);
    height: 150px;
    width: 850px;
    font-size:large;
}
.ul{
    border-style:dashed;
    border-color: rgb(29, 128, 194);
    background-color: rgb(58, 226, 55);
    font-size:medium;
}
.source{
    float:right;
    border-style:solid;
    background-color: rgb(90, 172, 49);
}
.Choice{
    border-style:dotted;
    border-color:rgb(230, 230, 85);
    background-color: rgb(53, 188, 53);
    width:200px;
}
.Choicetwo{
    border-style:solid;
    border-color:rgb(230, 230, 85);
    background-color: rgb(53, 188, 53);
    width:500px;
    height: 300px;
    font-size: larger;
    float:right;
}