body{
    background-color: black;
    color:chartreuse;
}

h1{
    color: chartreuse;
    font-family:'Sixtyfour';
}
p{
    color: chartreuse;
    font-family:'Sixtyfour';
}

h2{
    color: chartreuse;
    font-family:'Sixtyfour';
}

h3{
    color: chartreuse;
    font-family:'Sixtyfour';
}

h4{
    color: chartreuse;
    font-family:'Sixtyfour';
}

h5{
    color: chartreuse;
    font-family:'Sixtyfour';
}

h6{
    color: chartreuse;
    font-family:'Sixtyfour';
}

ul{
    color: chartreuse;
    font-family:'Sixtyfour';
}