body{
    background:linear-gradient(90deg, black, gray) ;
    color: white;
}

p{
    background: linear-gradient(90deg, gray, black);
    font-size: 45px;
}

div{
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
    width: 85%;
}

.max img{
    width: 25%;
    float: left;
}

.max p{
    width: 60%;
    float: left;
}

.max{
    float: left;
    border-radius: 25px;
}

.RB19 img{
    width: 25%;
    float: left;
}

.RB19 p{
    width: 60%;
    float: left;
}

.RB19{
    float: right;
    border-radius: 25px;
}

.cite{
    clear: both;
    font-size: 20px;

}

a{
    background: linear-gradient(90deg, gray, black);
    color: white;
}