body{
    font-family: "Cookie", cursive;
    color: rgb(255, 196, 144);
    background-color: rgb(144, 41, 0);
}
h1{
    text-align: center;
}
h2{
    text-shadow: 1px 1px rgb(204, 156, 113);
    text-align: center;
}
h3{
    color: rgb(255, 196, 144);
    text-align: center;
}

hr{
    border-style: solid;
    border-width: 4px;
    border-color: rgb(101, 0, 0);
}
.Title{
    text-shadow: 3px 3px rgb(204, 156, 113);
    font-family: Shadow;  font-family: "Shadows Into Light", cursive;
    height: 110px;
    font-size: 120px;
}
.Placeholder1{
    float: left;
    width: 40%;
}

.Div1{
    border-width: 8px;
    background-color: rgb(80, 27, 0);
    border-style: solid;
    font-size: 20px;
    text-align: center;
}

.No1{
    border-width: 8px;
    background-color: rgb(80, 27, 0);
    height: 350px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}

/*This Is the Code for the link boxes*/

.Links{
    border-width: 8px;
    border-color:rgb(101, 0, 0);
    background-color: rgb(100, 33, 0);
    border-style: solid;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: rgb(101, 0, 0);
}
a:visited{
    text-decoration: none;
    color: rgb(101, 0, 0);
}
.Link1{
    height: 48px;
    width: 96px;
    display: inline-block;
    font-size: 22px;
    border-width: 6px;
    margin: 12px;
    background-color: rgb(238, 238, 238);
    border-style: solid;
}
.Link2{
    height: 48px;
    width: 96px;
    display: inline-block;
    font-size: 22px;
    border-width: 6px;
    margin: 12px;
    background-color: rgb(238, 238, 238);
    border-style: solid;
}
.Link3{
    height: 48px;
    width: 96px;
    display: inline-block;
    font-size: 22px;
    border-width: 6px;
    margin: 12px;
    background-color: rgb(238, 238, 238);
    border-style: solid;
}
.Link4{
    height: 48px;
    width: 96px;
    display: inline-block;
    font-size: 22px;
    border-width: 6px;
    margin: 12px;
    background-color: rgb(238, 238, 238);
    border-style: solid;
}